table{
  border-collapse: collapse;
}

.tabla {
  width: 100%;
  margin: 1rem 1.5rem;
  color: #212529;
}

th {
  text-align: inherit;
}

.table td, .table th {
  padding: .75rem;
  vertical-align: top;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}